<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget Edit</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back button-->
    <p class="navbar-text pull-left">
      <a href="../user/profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Widget Edit</b>
      </a>
    </p>
  </div>
</nav>

<div class="container aps-body-padding">
  <form class="aps-form-padding" action="#">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control aps-field-spacing"/>

    <label for="widgetText">Text</label>
    <input id="widgetText" type="text" class="form-control aps-field-spacing" value="US Senate Reaches Compromise on Emergency Zika Funding"/>

    <label for="size">Size</label>
    <input id="size" type="number" class="form-control aps-field-spacing" value="3"/>

    <button type="submit" class="btn btn-danger btn-block">Delete</button>
  </form>


</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
