<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back button-->
    <p class="navbar-text pull-left">
      <a routerLink="user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a routerLink="user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid aps-body-padding">
  <form class="aps-form-padding" action="widget-list.html">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control aps-field-spacing"/>

    <label for="widgetText">Text</label>
    <input id="widgetText" type="text" class="form-control aps-field-spacing" value="US Senate Reaches Compromise on Emergency Zika Funding"/>

    <label for="size">Size</label>
    <input id="size" type="number" class="form-control aps-field-spacing" value="3"/>

    <button type="submit" class="btn btn-danger btn-block">Delete</button>
  </form>


</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="user/:uid">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
