<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back button-->
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Widgets</b>
      </a>
    </p>

    <!--plus sign -->
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid aps-body-padding">
  <div *ngFor="let widget of widgets">
    <div class="aps-widget">
      <div class="aps-toolbar">
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <div [ngSwitch]="widget.widgetType">
        <div *ngSwitchCase="'HEADING'">
          <div [ngSwitch]="widget.size">
            <h1 *ngSwitchCase=1>{{widget.text}}</h1>
            <h2 *ngSwitchCase=2>{{widget.text}}</h2>
            <h3 *ngSwitchCase=3>{{widget.text}}</h3>
            <h4 *ngSwitchCase=4>{{widget.text}}</h4>
            <h5 *ngSwitchCase=5>{{widget.text}}</h5>
            <h6 *ngSwitchDefault>{{widget.text}}</h6>
          </div>
        </div>
        <div *ngSwitchCase="'IMAGE'">
          <img [src]="widget.url" [style.width.%]="widget.width.slice(0, widget.width.length - 1)" />
          <p>{{widget.width}}</p>
        </div>
        <div *ngSwitchCase="'HTML'">
          <!--<p>{{widget._id}}: {{widget.widgetType}} - {{widget.text}}</p>-->
          {{widget.text}}
        </div>
        <div *ngSwitchCase="'YOUTUBE'">
          <p>{{widget._id}}: {{widget.widgetType}} - {{widget.text}}</p>
          <iframe class="e2e-iframe-trusted-src" width="{{widget.width}}" [src]=sanitizer.bypassSecurityTrustResourceUrl(widget.url) frameborder="0" allowfullscreen></iframe>        </div>
        <div *ngSwitchDefault>
          <h3>Switch Default</h3>
          <p>{{widget._id}}: {{widget.widgetType}} - {{widget.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="aps-widget">
    <div class="aps-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h1>Gizmodo</h1>
  </div>

  <div class="aps-widget">
    <div class="aps-toolbar">
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <p>Reviving unresponsive patients has long been a dream of humanity, and an oft-talked about part of the human condition. Maybe you’ve cried along with <a href="http://www.imdb.com/title/tt0099077/" target="_blank" rel="noopener">the movie </a><a href="http://www.imdb.com/title/tt0099077/" target="_blank" rel="noopener"><em>Awakenings</em></a><em>, </em>or had long conversations with relatives about what happens should you or they end up in the <a href="https://www.nbcnews.com/health/health-news/bioethicist-tk-n333536" target="_blank" rel="noopener">same position</a>. <br></p>
  </div>

  <div class="aps-widget">
    <div class="aps-toolbar">
      <a href="widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h2>Bassoon Family</h2>
  </div>

  <div class="aps-widget">
    <div class="aps-toolbar">
      <a href="widget-image.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img src="http://www.bassoonresource.org/images/bssnprog1.jpg"
  </div>

  <div class="aps-widget">
    <div class="aps-toolbar">
      <a href="widget-youtube.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8ropWor8aAM" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="aps-widget">
    <div class="aps-toolbar">
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <p>Darci Lynne: Kid Ventriloquist Sings With A Little Help From Her Friends - America's Got Talent 2017</p>
  </div>


</div> -->

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink=".">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a routerLink=".">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
