
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click)="updateProfile()"  class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container-fluid aps-body-padding">
  <div *ngIf="showMessage"
       class="alert alert-success">
    {{msg}}
  </div>

  <form (ngSubmit) = "updateProfile()" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             name="username"
             id="username"
             [(ngModel)]="user.username"
             required
             readonly
             placeholder="username">

      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             name="password"
             id="password"
             [(ngModel)]="user.password"
             required
             placeholder="password">

      <label for="firstName">First Name</label>
      <input type="text"
             class="form-control"
             id="firstName"
             name="firstName"
             [(ngModel)]="user.firstName"
             required
             #firstName="ngModel"
             placeholder="Alice">
      <span class="help-block" *ngIf="!user.firstName.valid && user.firstName.touched">
      Please enter your first name!
      </span>

      <label for="lastName">Last Name</label>
      <input type="text"
             class="form-control"
             id="lastName"
             name="lastName"
             [(ngModel)]="user.lastName"
             required
             #lastName="ngModel"
             placeholder="Wonderland">
      <span class="help-block" *ngIf="!user.lastName.valid && user.lastName.touched">
      Please enter your last name!
      </span>

      <label for="email">Email address</label>
      <input type="email"
             class="form-control"
             name="email"
             id="email"
             [(ngModel)]="user.email"
             required
             placeholder="alice.wonderland@unicorn.com">
      <span class="help-block" *ngIf="!user.email.valid && user.email.touched">
      Please enter email!
      </span>
      <br/>

      <button class="btn btn-primary btn-block"
              type="submit"
              [disabled]="!f.valid || f.pristine">Update</button>
    </div>
  </form>

  <a class="btn btn-primary btn-block"
     routerLink="/user/{{userId}}/website">Websites</a>
  <a class="btn btn-danger btn-block "
     routerLink="/login">Logout</a>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
