<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--back button-->
      <span class="col-xs-1 col-s-1 col-md-1">
        <p class="navbar-text">
          <a routerLink="/user/{{userId}}/website/" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </span>

      <!-- Websites -->
      <span class="col-md-2 hidden-xs hidden-sm">
        <a class="navbar-brand thick navbar-link">
          <b>Websites</b>
        </a>
      </span>

      <!--Plus Sign-->
      <span class="col-md-1 hidden-xs hidden-sm">
        <a routerLink="/user/{{userId}}/website/new" class="navbar-text navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </span>

      <!--Close New Website-->
      <span class="col-md-1 hidden-xs hidden-sm">
        <a routerLink="/user/{{userId}}/website/" class="navbar-text navbar-link">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </span>

      <!--heading on the nav bar-->
      <span class="col-xs-10 col-s-10 col-md-6">
        <p class="navbar-header">
          <a class="navbar-brand thick navbar-link">
        <b>Edit Website</b>
      </a>
        </p>
      </span>

      <!--tick mark-->
      <span class="col-xs-1 col-s-1 col-md-1">
        <p class="navbar-text">
          <a routerLink="/user/{{userId}}/website/" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </span>
    </div>
  </div>
</nav>

<div class="aps-body-padding container-fluid">
  <div class="row">
    <div class="container col-md-4 hidden-xs hidden-sm">
      <div class="container">
        <div *ngFor="let website of websites">
          <div class="row aps-list-spacing">
            <div class="col-md-3">
              <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
            </div>
            <div class="col-md-1">
              <a routerLink="/user/{{userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container col-xs-12 col-sm-12 col-md-8">
      <form class="aps-form-padding"
            (ngSubmit) = "editWebsite()"
            #websiteEditForm="ngForm">
        <label for="name">Name</label>
        <input id="name"
               name="name"
               [(ngModel)]="name"
               required
               class="form-control aps-field-spacing"
               type="text"
               placeholder="Website Name"/>
        <span class="help-block" *ngIf="!name.valid && name.touched">
        Please enter a name!
      </span>

        <label for="description">Description</label>
        <textarea class="form-control aps-field-spacing"
                  rows="5"
                  id="description"
                  name="description"
                  [(ngModel)]="description"
                  required
                  placeholder="description"></textarea>
        <button class="btn btn-primary btn-block"
                type="submit"
                [disabled]="!websiteEditForm.valid">Update</button>
        <button type="button"
                (click)="deleteCurrentWebsite()"
                class="btn btn-danger btn-block">Delete</button>
      </form>
    </div>
  </div>
</div>




<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
