<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <!--back button-->
      <span class="col-xs-1 col-s-1 col-md-1">
        <p class="navbar-text">
          <a href="page-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </span>

      <!-- Pages -->
      <span class="col-md-2 hidden-xs hidden-sm">
        <a class="navbar-brand thick navbar-link">
          <b>Pages</b>
        </a>
      </span>

      <!--Plus Sign-->
      <span class="col-md-1 hidden-xs hidden-sm">
        <a href="page-new.html" class="navbar-text navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </span>

      <!--Close New Page-->
      <span class="col-md-1 hidden-xs hidden-sm">
        <a href="page-list.html" class="navbar-text navbar-link">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </span>

      <!--heading on the nav bar-->
      <span class="col-xs-10 col-s-10 col-md-6">
        <p class="navbar-header">
          <a class="navbar-brand thick navbar-link">
        <b>New Page</b>
      </a>
        </p>
      </span>

      <!--tick mark-->
      <span class="col-xs-1 col-s-1 col-md-1">
        <p class="navbar-text">
          <a href="page-list.html" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </span>
    </div>
  </div>
</nav>

<div class="row aps-body-padding">
  <div class="container col-md-4 hidden-xs hidden-sm">
    <div class="container">
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a href="../widget/widget-list.html">Blog Post</a>
        </div>
        <div class="col-md-1">
          <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a href="../widget/widget-list.html">Blogs</a>
        </div>
        <div class="col-md-1">
          <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a href="../widget/widget-list.html">Home</a>
        </div>
        <div class="col-md-1">
          <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a href="../widget/widget-list.html">About</a>
        </div>
        <div class="col-md-1">
          <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a href="../widget/widget-list.html">Contact Us</a>
        </div>
        <div class="col-md-1">
          <a href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-xs-12 col-sm-12 col-md-8">
    <form class="aps-form-padding" action="#">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" placeholder="Page Name"/>

      <label for="title">Title</label>
      <textarea class="form-control" rows="5" id="title" placeholder="Page Title"></textarea>
    </form>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
