<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <!--back button-->
      <span class="col-xs-1 col-s-1 col-md-1">
        <p class="navbar-text">
          <a routerLink="user/:uid/website/:wid/page" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </span>

      <!-- Websites -->
      <span class="col-md-2 hidden-xs hidden-sm">
        <a class="navbar-brand thick navbar-link">
          <b>Pages</b>
        </a>
      </span>

      <!--Plus Sign-->
      <span class="col-md-1 hidden-xs hidden-sm">
        <a routerLink="user/:uid/website/:wid/page/new" class="navbar-text navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </span>

      <!--Close New page-->
      <span class="col-md-1 hidden-xs hidden-sm">
        <a routerLink="user/:uid/website/:wid/page" class="navbar-text navbar-link">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </span>

      <!--heading on the nav bar-->
      <span class="col-xs-10 col-s-10 col-md-6">
        <p class="navbar-header">
          <a class="navbar-brand thick navbar-link">
        <b>Edit Page</b>
      </a>
        </p>
      </span>

      <!--tick mark-->
      <span class="col-xs-1 col-s-1 col-md-1">
        <p class="navbar-text">
          <a routerLink="user/:uid/website/:wid/page" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </span>
    </div>
  </div>
</nav>

<div class="row aps-body-padding">
  <div class="container col-md-4 hidden-xs hidden-sm">
    <div class="container">
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a routerLink="user/:uid/website/:wid/page/:pid/widget">Blog Post</a>
        </div>
        <div class="col-md-1">
          <a routerLink="user/:uid/website/:wid/page/:pid">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a routerLink="user/:uid/website/:wid/page/:pid/widget">Blogs</a>
        </div>
        <div class="col-md-1">
          <a routerLink="user/:uid/website/:wid/page/:pid">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a routerLink="user/:uid/website/:wid/page/:pid/widget">Home</a>
        </div>
        <div class="col-md-1">
          <a routerLink="user/:uid/website/:wid/page/:pid">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a routerLink="user/:uid/website/:wid/page/:pid/widget">About</a>
        </div>
        <div class="col-md-1">
          <a routerLink="user/:uid/website/:wid/page/:pid">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
      <div class="row aps-list-spacing">
        <div class="col-md-3">
          <a routerLink="user/:uid/website/:wid/page/:pid/widget">Contact Us</a>
        </div>
        <div class="col-md-1">
          <a routerLink="user/:uid/website/:wid/page/:pid">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-xs-12 col-sm-12 col-md-8">
    <form class="aps-form-padding"
          (ngSubmit) = "editPage()"
          #pageEditForm="ngForm">

      <label for="name">Name</label>
      <input id="name"
             name="name"
             #name="ngModel"
             ngModel
             required
             class="form-control aps-field-spacing"
             type="text"
             placeholder="Blog Post"/>
      <span class="help-block" *ngIf="!name.valid && name.touched">
        Please enter a name!
      </span>

      <label for="title">Title</label>
      <input class="form-control aps-field-spacing"
             type="text"
             id="title"
             name="title"
             #title="ngModel"
             ngModel
             required
             placeholder="Page Title"/>
      <span class="help-block" *ngIf="!title.valid && title.touched">
        Please enter a title!
      </span>

      <button type="submit"
              class="btn btn-primary btn-block"
              [disabled]="!pageEditForm.valid">Save Changes</button>

      <button type="reset"
              class="btn btn-danger btn-block">Delete</button>
    </form>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="user/:uid">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
