<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back button-->
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Pages</b>
      </a>
    </p>

    <!--plus sign-->
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/new" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid aps-body-padding">
  <div *ngFor="let page of pages">
    <div class="row aps-list-spacing">
      <div class="col-xs-11">
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
      </div>
      <div class="col-xs-1">
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{page._id}}">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
