<div class="container-fluid aps-body-padding">
  <form class="aps-form-padding"
        (ngSubmit)="editHeader()" #widgetHeaderForm="ngForm">

    <label for="text">Text</label>
    <input id="text"
           name="text"
           [(ngModel)]="text"
           required
           type="text"
           class="form-control aps-field-spacing"
           placeholder="Text of widget"/>
    <span class="help-block" *ngIf="!text.valid && text.touched">
      Please enter some widget text!
    </span>

    <label for="size">Size</label>
    <input id="size"
           name="size"
           min="1"
           max="6"
           [(ngModel)]="size"
           required
           type="number"
           class="form-control aps-field-spacing"
           placeholder="#"/>
    <span class="help-block" *ngIf="!size.valid && size.touched">
      Please enter a header size!
    </span>
    <button type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!widgetHeaderForm.valid">Save</button>
    <button type="button"
            (click)="deleteHeader()"
            class="btn btn-danger btn-block">Delete</button>
  </form>


</div>
