<div class="container-fluid aps-body-padding">
  <form class="aps-form-padding"
        (ngSubmit)="editYoutube()" #widgetYoutubeForm="ngForm">

    <label for="url">URL</label>
    <input id="url"
           name="url"
           [(ngModel)]="url"
           required
           type="text"
           class="form-control aps-field-spacing"
           placeholder=""/>
    <span class="help-block" *ngIf="!url.valid && url.touched">
      Please enter a url!
    </span>

    <label for="width">Width</label>
    <input id="width"
           name="width"
           [(ngModel)]="width"
           required
           type="text"
           class="form-control aps-field-spacing"
           placeholder="100%"/>
    <span class="help-block" *ngIf="!width.valid && width.touched">
      Please enter a width as a percentage!
    </span>
    <button type="submit"
            [disabled]="!widgetYoutubeForm.valid"
            class="btn btn-primary btn-block">Save</button>

    <button type="button"
            (click)="deleteYoutube()"
            class="btn btn-danger btn-block">Delete</button>
  </form>
</div>
