<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back button-->
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Choose Widget</b>
      </a>
    </p>
  </div>
</nav>

<div class="aps-body-padding">
  <div class="container-fluid">
    <p>
      <a (click)="createHeader()">Header</a>
    </p>
    <p>
      <a routerLink=".">Label</a>
    </p>
    <p>
      <a routerLink=".">HTML</a>
    </p>
    <p>
      <a routerLink=".">Text Input</a>
    </p>
    <p>
      <a routerLink=".">Link</a>
    </p>
    <p>
      <a routerLink=".">Button</a>
    </p>
    <p>
      <a (click)="createImage()">Image</a>
    </p>
    <p>
      <a (click)="createYoutube()">YouTube</a>
    </p>
    <p>
      <a routerLink=".">Data Table</a>
    </p>
    <p>
      <a routerLink=".">Repeater</a>
    </p>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
