<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back button-->
    <p class="navbar-text pull-left">
      <a routerLink="user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-link">
        <b>Choose Widget</b>
      </a>
    </p>
  </div>
</nav>

<div class="aps-body-padding">
  <div class="container-fluid">
    <p>
      <a href="widget-heading.html">Header</a>
    </p>
    <p>
      <a href="#">Label</a>
    </p>
    <p>
      <a href="#">HTML</a>
    </p>
    <p>
      <a href="#">Text Input</a>
    </p>
    <p>
      <a href="#">Link</a>
    </p>
    <p>
      <a href="#">Button</a>
    </p>
    <p>
      <a href="widget-image.html">Image</a>
    </p>
    <p>
      <a href="widget-youtube.html">YouTube</a>
    </p>
    <p>
      <a href="#">Data Table</a>
    </p>
    <p>
      <a href="#">Repeater</a>
    </p>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="user/:uid">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
