<div class="container-fluid aps-body-padding">
  <form class="aps-form-padding"
        (ngSubmit) = "editImage()" #widgetImageForm="ngForm">
    <!--<label for="name">Name</label>-->
    <!--<input id="name"-->
           <!--name="name"-->
           <!--[(ngModel)]="name"-->
           <!--required-->
           <!--type="text"-->
           <!--placeholder="Image Name"-->
           <!--class="form-control aps-field-spacing"/>-->
    <!--<span class="help-block" *ngIf="!name.valid && name.touched">-->
      <!--Please enter an image name!-->
    <!--</span>-->

    <!--<label for="widgetText">Text</label>-->
    <!--<input id="widgetText"-->
           <!--name="widgetText"-->
           <!--[(ngModel)]="widgetText"-->
           <!--required-->
           <!--type="text"-->
           <!--class="form-control aps-field-spacing"-->
           <!--placeholder="Image description"/>-->
    <!--<span class="help-block" *ngIf="!widgetText.valid && widgetText.touched">-->
      <!--Please enter a description!-->
    <!--</span>-->

    <label for="url">URL</label>
    <input id="url"
           name="url"
           [(ngModel)]="url"
           required
           type="text"
           class="form-control aps-field-spacing"
           placeholder=""/>
    <span class="help-block" *ngIf="!url.valid && url.touched">
      Please enter a url!
    </span>

    <label for="width">Width</label>
    <input id="width"
           name="width"
           [(ngModel)]="width"
           required
           type="text"
           class="form-control aps-field-spacing"
           placeholder="100%"/>
    <span class="help-block" *ngIf="!width.valid && width.touched">
      Please enter a width as a percentage!
    </span>

    <!--<label for="file">Upload</label>-->
    <!--<input id="file"-->
           <!--name="file"-->
           <!--[(ngModel)]="file"-->
           <!--required-->
           <!--type="file"-->
           <!--class="form-control aps-field-spacing"/>-->

    <button type="submit"
            [disabled]="!widgetImageForm.valid"
            class="btn btn-primary btn-block">Save</button>

    <button type="button"
            (click)="deleteImage()"
            class="btn btn-danger btn-block">Delete</button>
  </form>


</div>
